h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}
.container {
  width: 1440px;
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
  color: #434455;
  letter-spacing: 0.3px;
}
header {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: #e7e9fc;
}
.page-nav {
  list-style-type: none;
}

.page-nav li {
  display: inline-block;
  padding: 0 40px;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font: size 18px;
  text-decoration: none;
  color: #2e2f42;
  letter-spacing: 0.5;
  line-height: 1.2;
  margin-top: 24px;
  margin-left: 115px;
}
.navlink {
  font-weight: 500;
  color: #2e2f42;
  text-decoration: none;
}
.navlink:hover {
  color: #404bbf;
}
.navlink:active {
  color: #404bbf;
}
address {
  margin-left: auto;
  padding-right: 307px;
}
.address-li {
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  color: #434455;
}
.address-li:hover {
  color: #404bbf;
}

.main-header {
  background-color: #2e2f42;
  height: 600px;
}
.banner {
  align-content: center;
}
#page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1, 07;
  color: #ffffff;
  letter-spacing: 1.02px;
}
.service-button {
  font-size: 16px;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  text-align: center;
  border: none;
  cursor: pointer;
}
.service-button:hover {
  background-color: #404bbf;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  text-align: center;
}
.team-section {
  background-color: #f4f4fd;
  text-align: center;
}
.team-section li {
  background-color: #ffffff;
  width: 264px;
  border: 1px solid lightgray;
}
.team-conteiner {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.page-footer {
  background-color: #2e2f42;
  color: #ffffff;
}
.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font: size 18px;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.5;
  line-height: 1.2;
}
.list-title {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
}
