h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}
.container {
  width: 1440px;
  margin: 0 auto;
  
}
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
  color: #434455;
  letter-spacing: 0.3px;
}
/*---navigationbar----*/
header {
  display: flex; 
  align-items: center;
  justify-content: space-around;
  border-bottom: #e7e9fc;
}

.navsection {
  display: flex;
  gap: 40px;
  list-style-type: none;
}
.navbar-item{
  display: flex;
  align-items: center;
  gap: 8px;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font: size 18px;
  text-decoration: none;
  color: #2e2f42;
  letter-spacing: 0.5;
  line-height: 1.2;
  margin: 0;
  padding: 24px;
}
.navlink {
  font-weight: 500;
  color: #2e2f42;
  text-decoration: none;
}
.navlink:hover {
  color: #404bbf;
}
.navlink:active {
  color: #404bbf;
}
.info{
  display: flex;
  gap:40px;
}
.address-li {
  text-decoration: none;
  list-style-type: none;
  color: #434455;
}
.address-li:hover {
  color: #404bbf;
}

/*main header section */
.main-header {
  background-color: #2e2f42;
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 0; 
}
#page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1, 07;
  color: #ffffff;
  letter-spacing: 1.02px;
}
.service-button {
  font-size: 16px;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  margin-top: 48px;
  text-align: center;
  border: none;
  cursor: pointer;
}
.service-button:hover {
  background-color: #404bbf;
}

/* -------- hero section start ---------*/
.hero{
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  list-style-type: none;
  padding: 120px 156px;  
}  

/* our team section start */
.section-title {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  text-align: center;
  padding-bottom: 72px;
  
}
.team-section {
  background-color: #f4f4fd;
  text-align: center;
  padding: 120px 0;
}
.team-section li {
  background-color: #ffffff;
  width: 264px;
  border: 1px solid lightgray;
}
.members{
  display: inline-flex;
  flex-direction: row;
  gap: 24px;
  list-style-type: none;
  align-items: center;
}
.list-title {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  margin-top: 32px;
  margin-bottom: 8px;
}
.team-section p{
  margin-bottom: 32px;
}

/* our team section end*/

/*portfolio section start*/
.portfolio-section{
  padding: 120px 0;
}
.portfolio-section ul{
  list-style-type: none;
  
}
.portfoliolist{
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
  justify-content: center;
}
.portfoliolist li{
  border: #e7e9fc solid 1px;
}
.portfoliolist h3{
  margin-left: 16px;
}
.portfoliolist p{
  margin-left: 16px;
  margin-bottom: 32px;
}
/*portfolio section end*/

/* footer section start*/
.page-footer {
  background-color: #2e2f42;
  color: #ffffff;
  padding: 100px 0;
}
.footerblock{
   padding-left: 156px;
}

.page-footer p{
  width: 264px;

}
.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font: size 18px;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.5;
  line-height: 1.2;
}

